@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; 

* {
  box-sizing: border-box;
}

html { 
  font-size: 16px; 
}

h1 {
  font-size: clamp(120px, 1.5vw, 25px);
}

h2 {
  font-size: clamp(16px, 1.5vw, 18px);
}

h3 {
  font-size: clamp(27px, 1.5vw, 22px);
}

p, .responsive-text, ::placeholder {
  font-size: clamp(14px, 1.5vw, 16px);
}

.card-title {
  font-size: clamp(14px, 1.5vw, 17px);
}

.button-text {
  font-size: clamp(13px, 1.5vw, 15px);
}

/* Helper classes */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screen-minus-nav-height {
  height: calc(100vh - 100px);
}

@media only screen and (max-width: 1280px) {
  .container {
    max-width: 100%;
  }
}

